/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.jumbotron {
  padding-top: 10px !important;
}

.form-actions {
  width: 100%;
  float: left;
}

.btn {
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
}

.input {
  margin-bottom: 20px;
  float: left;
}

.select {
  width: auto;
  margin-left: 10px;
  float: left;
  height: 45px !important;
  border-color: grey !important;
}

.form-control {
  padding: 10px;
}

.result {
  width: 100%;
  float: left;
}

.field {
  width: 50%;
  margin-right: 50%;
  position: relative;
}

.field_ckeditor {
  width: 100%;
  position: relative;
  float: left;
}
