%iframe{ allowtransparency: "true", frameborder: "0", height: "30", scrolling: "0", src: "http://ghbtns.com/github-btn.html?user=kalashnikovisme&repo=kabal&type=watch&size=large", style: "width:100px; height: 30px;", width: "100" }
